body {
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    max-width: 600px;
    width: 90%;
    margin: 20px;
}

.impressum h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.impressum p {
    line-height: 1.6;
    color: #444;
}

.impressum a {
    color: #007BFF;
    text-decoration: none;
}

.impressum a:hover {
    text-decoration: underline;
}

svg {
    cursor: pointer;
    fill: #000;
    transition: fill 0.3s;
}

svg:hover {
    fill: #555; /* Ändert die Farbe beim Hover */
}

@media(max-width: 1000px) {
    .container {
        max-width: 90%;
        height: 80%;
        overflow-y: auto;
    }
}