* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-triangle: #40E2A0;
    --color-square: #FF69F8;
    --color-cross: #7CB2E8;
    --color-circle: #FF6666;
    --color-button: #474448;
    --color-psone: #C1C1C1;
}

.controller-buttons {
    width: 70%;
    border-radius: 50%;
    height: 250px;
    margin: 30px auto 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.controller-buttons .button {
    background-color: var(--color-button);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: inset 0 5px 6px 1px #fff, 0 5px 10px 1px #000;
}

.controller-buttons .button:active {
    box-shadow: inset 0 5px 6px 5px #000, 0 0 0 0;
}

.controller-buttons .button span {
    display: block;
    width: 50px;
    height: 50px;
    margin: 15px auto 0;
}

.controller-buttons .triangle {
    top: 10px;
    left: 50%;
}

.controller-buttons .triangle .parent {
    position: relative;
    top: -8px;
    width: 0;
    border-bottom: solid 50px var(--color-triangle);
    border-right: solid 30px transparent;
    border-left: solid 30px transparent;
}

.controller-buttons .triangle .parent span {
    position: absolute;
    top: -21px;
    left: -18px;
    width: 0;
    border-bottom: solid 30px var(--color-button);
    border-right: solid 18px transparent;
    border-left: solid 18px transparent;
}

.controller-buttons .square {
    left: 10px;
    top: 50%;
}

.controller-buttons .square span {
    border: 8px solid var(--color-square);
    width: 45px;
    height: 45px;
}

.controller-buttons .cross {
    bottom: 10px;
    left: 50%;
}

.controller-buttons .cross span {
    width: 60px;
    height: 8px;
    background-color: var(--color-cross);
    transform: rotate(45deg);
    margin-top: 36px;
}

.controller-buttons .cross span+span {
    transform: rotate(-45deg);
    margin-top: -8px;
}

.controller-buttons .circle {
    right: 10px;
    top: 50%;
}

.controller-buttons .circle span {
    border: 8px solid var(--color-circle);
    border-radius: 50%;
}

.rotateRight {
    rotate: 90deg;
    box-shadow: inset 5px 0 6px 1px #fff, 0 5px 10px 1px #000 !important;
}

.rotateLeft {
    rotate: -90deg;
    box-shadow: inset -5px 0 6px 1px #fff, 0 5px 10px 1px #000 !important;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 36px;
}